.ticketTabs_wrapper{
    width: 502px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    :first-child{
        color: #fff;  
      background-color:#2196F3;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px ;
    }
    :last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    

}

.ticketTabs_item{
font-family: "Open Sans", sans-serif;
font-weight: 600;
font-size: 12px;

/* line-height: 20px; */ 
line-height: 167%;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: center;
width: 100%;
padding: 15px;

border: 1px solid #dfe5ec;
background-color: #fff;




& .active{
  color: #fff;  
  background-color:#2196F3;
  border: none;
}


}